@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.homepage {
  font-family: "Montserrat", sans-serif;

  text-align: center;
}

h1 {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 5vh;
  padding-top: 16vh;

  color: rgba(249, 212, 125, 1);
}

h2 {
  margin: 3vw 20vw 0 20vw;
  text-align: left;

  color: #edf0f1;
}

@media (max-width: 768px) {
  h1 {
    padding-top: 9vh;
    font-size: 5vh;
  }
  h2 {
    font-size: 1em;
    margin: 3vw 12vw 0 12vw;
  }
}
