.contact {
  font-family: "montserrat", sans-serif;
}

h3 {
  font-size: 5vh;
  padding-top: 16vh;

  color: rgba(249, 212, 125, 1);
  text-align: center;

  font-weight: 300;
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.padd {
  padding-top: 5vh;
}
textarea {
  font-size: 16px;
  width: 40%;
  min-height: 200px;
  margin: 20px 0;
  line-height: 1.6;
}
.buttonDiv {
  padding-top: 5vh;
}
button {
  padding: 18px 40px;
  background-color: rgba(249, 212, 125, 1);
  color: #24252a;
  text-transform: lowercase;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(224, 190, 112, 0.8);
}

@media (max-width: 768px) {
  h3 {
    padding-top: 9vh;
  }
}
