@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.navigation {
  height: 8vh;
  width: 100vw;

  position: fixed;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  padding: 1vw 1%;
  background-color: rgba(44, 44, 44);

  list-style: none;
}

.li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2vh;

  text-decoration: none;
  padding: 10px;
  height: 20%;
  z-index: 300;
}

.toolbar li a {
  text-decoration: none;
  color: #edf0f1;
}

.toolbar li a:hover {
  color: rgba(249, 212, 125, 1);
}
